<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Filmritic - Metacritic Clone{% endblock %}</title>
  <link rel="icon" href="/static/img/logonew.png" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>
<div class="container">
  <!-- Header -->
  <header class="header">
    <div class="header-content">
      <div class="header-left">
        <div class="logo" id="home-logo">
          <a href="/home">
            <img src="/static/img/logonew.png" alt="logonew">
            <h4>Filmritic</h4>
          </a>
        </div>
        <nav>
          <div class="dropdown-trigger">
            <a href="/category" id="category-link">Category</a>
            <div class="dropdown-box" >
              <ul>
                <li>Action</li>
                <li>Adventure</li>
                <li>Drama</li>
                <li>Comedy</li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="search-user">
        <input type="text" placeholder="Search" />
        <button><img src="/static/img/kinhlup.png" alt="Search"></button>
        <span class="user-icon"><img src="/static/img/user.png" alt="user"></span>
      </div>
    </div>
  </header>

  <!-- Content Block -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-bar"></div>
    <div class="logo logo-footer"><img src="/static/img/logonew.png" alt="logonew">Filmritic</div>
    <div class="footer-content">
        <div class="footer-box">
          <h4 class="green">Data Science</h4>
          <img src="/static/img/logodev.png" alt="">
          <p>Đinh Tiến Thành</p>
        </div>
        <div class="footer-box">
          <h4 class="yellow">Web Dev</h4>
          <img src="/static/img/logodev.png" alt="">
          <p>Vương Văn Đạo</p>
        </div>
        <div class="footer-box">
          <h4 class="red">Data Engineer</h4>
          <img src="/static/img/logodev.png" alt="">
          <p>Nguyễn Văn Tiến</p>
        </div>
    </div>
  </footer>
</div>

      
<!-- <script src="/static/js/api.js"></script> -->
<!-- <script src="/static/js/config.js"></script>   -->
<script src="/static/js/router.js"></script>
<!-- <script src="/static/js/apiService.js"></script>     -->
<!-- <script src="/static/js/main.js"></script> -->
<!-- <script src="/static/js/createHome.js"></script> -->
<script src="/static/js/home.js"></script>
{% if request.url.path == "/movies" %}
  <script src="/static/js/detail.js"></script>
{% endif %}


</body>
</html>