{% extends "base.html" %}

{% block title %}Detail Movie{% endblock %}

{% block content %}
<section class="section-detail-movie">
    <div class="box-detail"></div>
    <div class="detail-video">
        <iframe id="main-video" src="https://www.youtube.com/embed/ASR41LdpTKw" frameborder="0" allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; "
            style="width: 100%; height: 400px;">
        </iframe>
        <div class="summary">
            <p>Five years after the events of Jurassic World Dominion, the planet’s ecology has proven largely
                inhospitable to dinosaurs. Those remaining exist in isolated equatorial environments with climates
                resembling the one in which they once thrived. The three most colossal creatures across land, sea and
                air within that tropical biosphere hold, i... READ MORE</p>
        </div>
    </div>
    <div class="detail-rating">
        <h2>Nilou Trailer</h2>
        <div class="detail-underline"></div>
        <div class="meta-label">METASCORE</div>
        <div class="score-container">
            <div class="score-info">
                <div class="score-description">Generally Favorable</div>
                <div class="score-details">Based on 20 Critic Reviews</div>
            </div>
            <div class="score-box">71</div>
        </div>
        <div class="rating-bar">
            <div class="positive-bar"></div>
            <div class="mixed-bar"></div>
            <div class="negative-bar"></div>
        </div>
        <div class="detail-genre">
            <p style="color:gray;letter-spacing: 1px;">Genre</p>
            <div class="movie-genre-container">
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
            </div>
        </div>
        <div class="detail-myscore">
            <p style="color:gray; letter-spacing: 1px; margin-bottom: 5px;">MY SCORE</p>
            <div class="circle-score">7</div>
            <div class="score-description">Generally Favorable</div>
            <div class="myscore-bar">
                <div class="piece-score-bar piece-0"></div>
                <div class="piece-score-bar piece-1"></div>
                <div class="piece-score-bar piece-2"></div>
                <div class="piece-score-bar piece-3"></div>
                <div class="piece-score-bar piece-4"></div>
                <div class="piece-score-bar piece-5"></div>
                <div class="piece-score-bar piece-6"></div>
                <div class="piece-score-bar piece-7"></div>
                <div class="piece-score-bar piece-8"></div>
                <div class="piece-score-bar piece-9"></div>
                <div class="piece-score-bar piece-10"></div>
            </div>
            <div class="post-myreview">
                <a href="#">Edit My Review</a>
            </div>
        </div>

</section>
<section class="section-user-reviews">
    <div class="featured-title-group">
        <h2 class="section-title">User Reviews</h2>
        <div class="featured-underline featured-underline-1"></div>
    </div>
</section>


<!-- MODAL -->
<div id="reviewModal" class="modal">
  <div class="modal-content">
    <!-- Nút đóng modal -->
    <span class="close-btn">&times;</span>

    <h3 class="modal-title">Add My Review</h3>

    <!-- Thông tin phim -->
    <div class="movie-info">
      <img src="/static/img/flash.jpg" alt="Poster">
      <div class="movie-meta">
        <strong>Jurassic World Rebirth</strong>
        <p>Release Date : Jul 2, 2025</p>
      </div>
    </div>

    <!-- Phần chấm điểm -->
    <div class="myscore-section">
      <div class="score-circle">7</div>
      <div class="score-text">
        <p>MY SCORE</p>
        <strong>Generally Favorable</strong>
        <div class="score-bar">
          <span class="bar active"></span><span class="bar active"></span><span class="bar active"></span>
          <span class="bar active"></span><span class="bar active"></span><span class="bar"></span>
          <span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="bar"></span>
        </div>
      </div>
    </div>

    <!-- Form review -->
    <form class="review-form">
      <label>Write a review for <strong>Jurassic World Rebirth</strong></label>
      <textarea placeholder="Minimum 75 characters" maxlength="5000"></textarea>
      <div class="char-count">5000 Characters remaining</div>

      <div class="modal-buttons">
        <button type="button" class="btn cancel">Cancel</button>
        <button type="submit" class="btn post">Post</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}