{% extends "base.html" %}

{% block title %}Detail Movie{% endblock %}

{% block content %}
<section class="section-detail-movie">
    <div class="box-detail"></div>
    <div class="detail-video">
        <iframe id="main-video" src="https://www.youtube.com/embed/ASR41LdpTKw" frameborder="0" allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; "
            style="width: 100%; height: 400px;">
        </iframe>
        <div class="summary">
            <p>Five years after the events of Jurassic World Dominion, the planet’s ecology has proven largely
                inhospitable to dinosaurs. Those remaining exist in isolated equatorial environments with climates
                resembling the one in which they once thrived. The three most colossal creatures across land, sea and
                air within that tropical biosphere hold, i... READ MORE</p>
        </div>
    </div>
    <div class="detail-rating">
        <h2>Nilou Trailer</h2>
        <div class="detail-underline"></div>
        <div class="meta-label">METASCORE</div>
        <div class="score-container">
            <div class="score-info">
                <div class="score-description">Generally Favorable</div>
                <div class="score-details">Based on 20 Critic Reviews</div>
            </div>
            <div class="score-box">71</div>
        </div>
        <div class="rating-bar">
            <div class="positive-bar"></div>
            <div class="mixed-bar"></div>
            <div class="negative-bar"></div>
        </div>
        <div class="detail-genre">
            <p style="color:gray;letter-spacing: 1px;">Genre</p>
            <div class="movie-genre-container">
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
                <span class="movie-genre">Action</span>
            </div>
        </div>
        <div class="detail-myscore">
            <p style="color:gray; letter-spacing: 1px;">MY SCORE</p>
            <div class="score-description">Generally Favorable</div>
            <div class="myscore-bar">
              
            </div>
        </div>

</section>
<section class="section-user-reviews">
    <div class="featured-title-group">
        <h2 class="section-title">User Reviews</h2>
        <div class="featured-underline featured-underline-1"></div>
    </div>
</section>
{% endblock %}