{% extends "base.html" %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<!-- Featured Movies -->
<section class="featured">
  <div class="section-header">
    <div class="featured-title-group">
      <h2 class="section-title">Featured movie</h2>
      <div class="featured-underline"></div>
    </div>
    <div class="navigation-arrows">
      <div class="arrow"><img src="/static/img/arrow left.png" alt=""></div>
      <div class="arrow"><img src="/static/img/arrow right.png" alt=""></div>
    </div>
  </div>
  
  <div class="movies-grid">
    <!-- <div class="movie-card">
      <div class="movie-image">
        <img src="/static/img/Nilou.jpg" alt="Nilou" class="card-img" />
      </div>
      <div class="movie-info">
        <h3 class="movie-title">Nilou</h3>
        <div class="movie-genre-container">
          <p class="movie-genre">game</p>
          <p class="movie-genre">genre</p>
        </div>
        <div class="card-underline"></div>
        
        <div class="meta-score-section">
          <p class="meta-label">META SCORE</p>
          <div class="score-container">
            <div>
              <div class="score-description">Nilou Genshin Impact</div>
              <div class="score-details">Based on 20 Critic Reviews</div>
            </div>
            <div class="score-box">
              <span>61</span>
            </div>
          </div>
        </div>
        
        <div class="rating-bar">
          <div class="positive-bar"></div>
          <div class="mixed-bar"></div>
          <div class="negative-bar"></div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<!-- Trending Movies -->
<section class="section">
  <div class="section-header">
    <div class="featured-title-group">
      <h2 class="section-title">Movies For You</h2>
      <div class="featured-underline"></div>
    </div>
    <div class="navigation-arrows">
      <div class="arrow"><img src="/static/img/arrow left.png" alt=""></div>
      <div class="arrow"><img src="/static/img/arrow right.png" alt=""></div>
    </div>
  </div>
  
  <div class="movie-list-small">
    <!-- <div class="small-movie-card">
      <img src="/static/img/flash.jpg" alt="The Flash">
      <div class="small-movie-title">
        <h3>The Flash</h3>
      </div>
      <div class="small-score-box">
        <span>75</span>
        <p>Generally Favorable</p>
      </div> -->
    </div>
  </div>
</section>
{% endblock %}