{% extends "base.html" %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<!-- Featured Movies -->
<section class="featured section">
    <div class="section-header">
        <div class="featured-title-group">
            <h2 class="section-title">Featured Movies</h2>
            <div class="featured-underline"></div>
        </div>
        <div class="navigation-arrows">
            <div class="arrow arrow-left" data-target="featured">
                <img src="/static/img/arrow left.png" alt="Previous">
            </div>
            <div class="arrow arrow-right" data-target="featured">
                <img src="/static/img/arrow right.png" alt="Next">
            </div>
        </div>
    </div>
    
    <div class="movies-grid-container">
        <div class="movies-grid" id="featured-grid">
            <!-- Featured movies will be loaded here by JavaScript -->
        </div>
    </div>
</section>

<!-- Movies For You -->
<section class="section">
    <div class="section-header">
        <div class="featured-title-group">
            <h2 class="section-title">Movies For You</h2>
            <div class="featured-underline"></div>
        </div>
        <div class="navigation-arrows">
            <div class="arrow arrow-left" data-target="trending">
                <img src="/static/img/arrow left.png" alt="Previous">
            </div>
            <div class="arrow arrow-right" data-target="trending">
                <img src="/static/img/arrow right.png" alt="Next">
            </div>
        </div>
    </div>
    
    <div class="movie-list-container">
        <div class="movie-list-small" id="trending-grid">
            <!-- Trending movies will be loaded here by JavaScript -->
        </div>
    </div>
</section>


{% endblock %}